$bg-color: #FFFFFF;
$font-family: Roboto;
$font-size: 1.3vw;
$bg-button: #179A48;
$font-color: #3F3F3F;
$display: none;
$hover-color: #05D845;
$active-color: #f9ee21;

@font-face {
    font-family: Roboto;
    src: url(../assets/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;

}

.latest-trans {
    font-family: Roboto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
    width: 40vw;
    h1{
        font-size: 2vw;
    }
    
    table {
        width: 100%;
        border-collapse: none;
        font-family: Roboto;
        font-weight: normal;
        a{
            color: black;
            text-decoration: none;
        }
        th{
            font-size: 1.5vw;
            font-weight: normal;
        }
        td{
            font-weight: 500;
            font-size: 1.3vw;
        }

        th, td {
            border: none;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #ffffff;
        }

        tr:hover {
            background-color: #c7e7d1; // Change background color on hover
            cursor: pointer; // Change cursor on hover
        }
    }
}


@media (max-width: 900px) {
    .latest-trans {
        font-family: Roboto;
        font-weight: normal;
        width: 80vw;
        margin-left: 5vw;
        h1{
            font-size: 5vw;
        }
        table {
            width: 100%;
            border-collapse: none;
            font-family: Roboto;
            font-weight: normal;
            th{
                font-size: 4.5vw;
            }
            td{
                font-weight: 500;
                font-size: 3.3vw;
            }
    
    
            th, td {
                border: none;
    
                padding: 8px;
                text-align: left;
            }
    
            th {
                background-color: #ffffff;
            }
    
            tr:hover {
                background-color: #c7e7d1; // Change background color on hover
                cursor: pointer; // Change cursor on hover
            }
        }
    }
}