$bg-color: #FFFFFF;
$font-family: Roboto;
$font-size: 1.3vw;
$bg-button: #179A48;
$font-color: #3F3F3F;
$display:none;
$hover-color: #05D845;
$active-color: #f9ee21;

@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;

}

.notifications .content{
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 900px) {
  .notifications .content{
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    
}
}