$bg-color: #FFFFFF;
$font-family: Roboto;
$font-size: 1.3vw;
$bg-button: #179A48;
$font-color: #3F3F3F;
$display:none;
$hover-color: #05D845;
$active-color: #f9ee21;

@font-face{
  font-family: Roboto;
  src: url(../assets/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;

}




.service-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6vh;
}
.long-line{
    width: 70%;
    border-bottom: .3vh dashed #3F3F3F;
    margin-top: 3vw;
    margin-bottom: 3vw;
    
}

.small-line{
    width: 15%;
    border-bottom: .3vh dashed #3F3F3F;
    margin: 4vw 0vh;
    
}

@media (max-width: 1000px) {
    .long-line{
        border-bottom: .2vh dashed #3F3F3F;
    }
    .small-line{
        border-bottom: .2vh dashed #3F3F3F;
    }
}